<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #0174BE;">

      <a routerLink="/home" class="navbar-brand">
        <img src="/assets/patchwork-knoflik-2.svg" width="30" height="30" class="d-inline-block align-top" alt="">
        Patchwork master-plan
      </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li routerLinkActive="active" class="nav-item active">
          <a routerLink="/gui" class="nav-link">Patchwork GUI</a>
        </li>
        <li routerLinkActive="active" class="nav-item active">
          <a routerLink="/calculator" class="nav-link">Patch-calculator</a>
        </li>
      </ul>
    </div>


</nav>
