<div class="container">
  <div class="row justify-content-center">
    <div class="col-xs-12 text-center" style="padding-top: 20px">
      <h2>Simple patch calculator</h2>
    </div>
  </div>

  <div class="row align-items-center" style="padding-top: 10px">
    <div class="col-sm-5 offset-1 list-group-item list-group-item-warning">
      <form (ngSubmit)="onSubmit(f)" #f="ngForm">
        <div class="row justify-content-center">
          <div class="col-sm-3">
              <div class="form-group">
                <label for="price1">Price 1:</label>
                <input type="number" ngModel id="price1" class="form-control" name="price1"/>
              </div>

              <div class="form-group">
                <label for="size1">Size 1:</label>
                <input type="number" ngModel id="size1" class="form-control" name="size1"/>
              </div>

              <div class="form-group">
                <label for="buttons1">Buttons 1:</label>
                <input type="number" ngModel id="buttons1" class="form-control" name="buttons1"/>
              </div>

              <div class="form-group">
                <label for="time1">Time 1:</label>
                <input type="number" ngModel id="time1" class="form-control" name="time1"/>
              </div>

            <div class="form-check">
              <input class="form-check-input" type="checkbox" id="flexCheck1" name="check1" [(ngModel)]="patch1.bonus">
              <label class="form-check-label" for="flexCheck1">
                Bonus 1
              </label>
            </div>

          </div>

          <div class="col-sm-3">
              <div class="form-group">
                <label for="price2">Price 2:</label>
                <input type="number" ngModel id="price2" class="form-control" name="price2"/>
              </div>

              <div class="form-group">
                <label for="size2">Size 2:</label>
                <input type="number" ngModel id="size2" class="form-control" name="size2"/>
              </div>

              <div class="form-group">
                <label for="buttons2">Buttons 2:</label>
                <input type="number" ngModel id="buttons2" class="form-control" name="buttons2"/>
              </div>

              <div class="form-group">
                <label for="time2">Time 2:</label>
                <input type="number" ngModel id="time2" class="form-control" name="time2"/>
              </div>

            <div class="form-check">
              <input class="form-check-input" type="checkbox" id="flexCheck2" name="check2" [(ngModel)]="patch2.bonus">
              <label class="form-check-label" for="flexCheck2">
                Bonus 2
              </label>
            </div>
          </div>

          <div class="col-sm-3">
              <div class="form-group">
                <label for="price3">Price 3:</label>
                <input type="number" ngModel id="price3" class="form-control" name="price3"/>
              </div>

              <div class="form-group">
                <label for="size3">Size 3:</label>
                <input type="number" ngModel id="size3" class="form-control" name="size3"/>
              </div>

              <div class="form-group">
                <label for="buttons3">Buttons 3:</label>
                <input type="number" ngModel id="buttons3" class="form-control" name="buttons3"/>
              </div>

              <div class="form-group">
                <label for="time3">Time 3:</label>
                <input type="number" ngModel id="time3" class="form-control" name="time3"/>
              </div>

            <div class="form-check">
              <input class="form-check-input" type="checkbox" id="flexCheck3" name="check3" [(ngModel)]="patch3.bonus">
              <label class="form-check-label" for="flexCheck3">
                Bonus 3
              </label>
            </div>
          </div>
          <div class="form-group" style="padding-top: 10px">
            <label for="billings">Billings:</label>
            <input type="number" ngModel id="billings" class="form-control" name="billings"/>
          </div>

        </div>

        <div class="row justify-content-center">
          <button type="submit" class="btn btn-success justify-content-center">Compute value</button>
        </div>

      </form>
    </div>

    <div class="col-sm-5">
      <div class="container list-group-item list-group-item-warning">
        <div [ngStyle]="{'background-color': (color_style == 'first') ? '#CBFFA9' : '#FF8080'}">
          <h6 class="indented-text">
            <span class="text-content"> Final value patch 1: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{result1}}</span>
            <i *ngIf="time_usage === 'first'" class="bi bi-hourglass-split" style="background-color: #FFC436"></i>
          </h6>
        </div>
        <hr>
        <div [ngStyle]="{'background-color': (color_style == 'second') ? '#CBFFA9' : '#FF8080'}">
          <h6 class="indented-text">
            <span class="text-content">Final value patch 2: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{result2}}</span>
            <i *ngIf="time_usage === 'second'" class="bi bi-hourglass-split" style="background-color: #FFC436"></i>
          </h6>
        </div>
        <hr>
        <div [ngStyle]="{'background-color': (color_style == 'third') ? '#CBFFA9' : '#FF8080'}">
          <h6 class="indented-text">
            <span class="text-content">Final value patch 3: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{result3}}</span>
            <i *ngIf="time_usage === 'third'" class="bi bi-hourglass-split" style="background-color: #FFC436"></i>
          </h6>
        </div>
      </div>
    </div>
  </div>
</div>
